/* Cormorant Garamond & Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap');


/* CSS Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* main */


body {
  background-image: url(images/checkered-bg.jpg);
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main {
  width: 80%;              /* controls how wide the rectangle is */
  height: 80vh;               /* controls how tall the rectangle is */
  max-width: 1000px;        /* optional: prevents it from getting too wide */
  max-height: 2000px;
  margin: 80px auto;        /* centers the rectangle horizontally */
  padding: 0 0 20px 0;
  background-color: #f9f9f9; 
  border: 2px solid #ccc;   /* outline the rectangle */
  border-radius: 8px;       
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}

/* Intro section */
.intro {
  text-align: center; /* centers h1 and p */
}

.intro h1 {
  font: 300 5rem Quicksand, sans-serif; 
  color: #424242;
  margin: 60px 60px 20px 60px;
}

.intro p {
  font: 500 1.5rem Cormorant Garamond, serif; 
  color: #424242;
  margin: 10px;
}

/* Top bar with circles */
.top-bar {
  width: 100%;
  height: 50px;             
  background-color: #424242;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;  
  position: relative;
}

.top-bar .circle {
  width: 20px;
  height: 20px;
  border: 4px solid black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-bar .circle.white {
  background-color: #ffffff;
  right: 40px; /* spacing from right edge */
}

.top-bar .circle.pink {
  background-color: #ffc6d5;
  right: 10px;
}

.top-bar h2 {
  font: 500 1.5rem Cormorant Garamond, serif; 
  color: #f9f9f9;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.mode-toggle {
  z-index: 2;
  position: absolute;
  top: 35px;
  left: 150px;
}

/* Projects content */

.projects-content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 40px;
}

.projects-content h3 {
  font: 500 1.75rem Quicksand, sans-serif; 
  color: #424242;
  margin: 0 0 15px 0;
  z-index: 1;
  text-align: center;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}